<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>numbers list</title>
</head>
<body>
    <u1>
        {{#each numbers}}
        <li>{{this}}</li>
        {{/each}}
    </u1>
</body>
</html>