<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RIDDLES </title>
    <link rel="stylesheet" type="text/css" href="/riddle.css">
 </head>
<body>
      <h2>{{h1}} Level: {{lev}} Number:{{num}}</h2>
    {{{body}}}
    <script rel="text/javascript" src="/riddle.js"></script>
</body>
</html>

