<h1>Student Details</h1>
<dl>
    <dt>First Name</dt>
    <dd>{{ student.firstName }}</dd>
    <dt>Last Name</dt>
    <dd>{{ student.lastName }}</dd>
    <dt>Date Of Birth</dt>
    <dd>{{ student.dob }}</dd>
    <dt>Interest</dt>
    <dd>{{ student.interest }}</dd>
</dl>